ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  li {
    position: relative;
    width: 280px;
    height: 220px;
    padding: 3px;
    margin: 20px;
    background: #191c29;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  li::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 1s linear infinite;
  }
  
  li::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
      opacity: 1;
    }
    50% {
      --rotate: 360deg;
      opacity: 0.5;
    }
    100% {
      --rotate: 720deg;
      opacity: 1;
    }
  }
  
  img {
    width: 440px;
    height: 220px;
    border-radius: 6px;
  }
  
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  a:hover li {
    color: black;
  }
  
  .game-name-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 8px;
    border-radius: 4px;
  }
  
  .game-item:hover .game-name-overlay {
    opacity: 1;
  }
  