ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  li {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 20px;
    background: #191c29;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  li::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(var(--rotate),#570A57,
  #A91079 43%,
  #F806CC);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 0.5s linear infinite;
  }
  
  li::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(var(--rotate),#570A57,
  #A91079 43%,
  #F806CC);
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 0.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
      opacity: 1;
    }
    50% {
      --rotate: 360deg;
      opacity: 0.5;
    }
    100% {
      --rotate: 720deg;
      opacity: 1;
    }
  }
  
  img {
    max-width: 100px;
    height: auto;
  }
  
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  a:hover li {
    color: black;
  }
  
  .game-name-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background: rgba(97,0,148);
    color: white;
    padding: 8px;
    border-radius: 4px;
  }
  
  .game-item:hover .game-name-overlay {
    opacity: 1;
  }

  h1 {
    display: block;
  font-family: "Happy Monkey", sans-serif;
  font-size: 80px;
  color: rgb(255, 181, 218);
  text-align: left;
  padding: 60px 80px;
    text-shadow: 0px 1px 2px rgba(255, 66, 159, 1),
      0px -1px 2px rgba(255, 66, 159, 1), 1px 0px 2px rgba(255, 66, 159, 1),
      -1px 0px 2px rgba(255, 66, 159, 1), 1px 1px 2px rgba(255, 66, 159, 1),
      -1px -1px 2px rgba(255, 66, 159, 1), 1px -1px 2px rgba(255, 66, 159, 1),
      -1px 1px 2px rgba(255, 66, 159, 1), 0px 0px 10px rgba(255, 66, 159, 0.9),
      0px 0px 20px rgba(255, 66, 159, 0.8), 0px 0px 30px rgba(255, 66, 159, 0.7),
      0px 0px 40px rgba(255, 66, 159, 0.6), 0px 0px 50px rgba(255, 66, 159, 0.5),
      0px 0px 60px rgba(255, 66, 159, 0.4), 0px 0px 70px rgba(255, 66, 159, 0.3);
   
  }
  h2 {
    display: block;
  font-family: "Happy Monkey", sans-serif;
  font-size: 30px;
  color: rgb(255, 181, 218);
  text-align: left;
  padding: 60px 80px;
    text-shadow: 0px 1px 2px rgba(255, 66, 159, 1),
      0px -1px 2px rgba(255, 66, 159, 1), 1px 0px 2px rgba(255, 66, 159, 1),
      -1px 0px 2px rgba(255, 66, 159, 1), 1px 1px 2px rgba(255, 66, 159, 1),
      -1px -1px 2px rgba(255, 66, 159, 1), 1px -1px 2px rgba(255, 66, 159, 1),
      -1px 1px 2px rgba(255, 66, 159, 1), 0px 0px 10px rgba(255, 66, 159, 0.9),
      0px 0px 20px rgba(255, 66, 159, 0.8), 0px 0px 30px rgba(255, 66, 159, 0.7),
      0px 0px 40px rgba(255, 66, 159, 0.6), 0px 0px 50px rgba(255, 66, 159, 0.5),
      0px 0px 60px rgba(255, 66, 159, 0.4), 0px 0px 70px rgba(255, 66, 159, 0.3);
   
  }
  h3 {
  display: block;
  font-family: "Happy Monkey", sans-serif;
  font-size: 5px;
  color: rgb(255, 181, 218);
  text-align: left;
  padding: 60px 80px;
  
    
  }
  
 
  